<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ page.title }} | {{ site.title }}</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="{{ site.description }}">
      <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	
<header class="site-header cf">
            <div class="container">
                <a href="#" class="site-title">Katy DeCorah</a>
                <nav class="navbar">
                    <ul class="header-nav">
                        <li><a class="nav-link" href="#">Blog</a></li>
                        <li><a class="nav-link" href="#">About me</a></li>
                        <li><a class="nav-link" href="#">Portfolio</a></li>
                        <li><a class="nav-link" href="#">Contact</a></li>
                    </ul>
                </nav>
           </div> <!-- / container -->
        </header><!-- / header -->